@model WebApplicationMVC.Models.Persona

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnSave").on("click", function (e) {
            e.preventDefault();
            let valid = true;

            if ($("#inputCompania").valid())
                $("#labelCompania").removeClass("invalid");
            else { 
                $("#labelCompania").addClass("invalid");
                valid = false;
            }
            document.getElementById("labelCompania").innerHTML = $("#inputCompania").val();

            if ($("#inputContacto").valid())
                $("#labelContacto").removeClass("invalid");
            else {
                $("#labelContacto").addClass("invalid");
                valid = false;
            }
            document.getElementById("labelContacto").innerHTML = $("#inputContacto").val();

            if ($("#inputCorreo").valid())
                $("#labelCorreo").removeClass("invalid");
            else {
                $("#labelCorreo").addClass("invalid");
                valid = false;
            }
            document.getElementById("labelCorreo").innerHTML = $("#inputCorreo").val();

            if ($("#inputTelefono").valid())
                $("#labelTelefono").removeClass("invalid");
            else {
                $("#labelTelefono").addClass("invalid");
                valid = false;
            }
            document.getElementById("labelTelefono").innerHTML = $("#inputTelefono").val();

            if (valid) {
                $("#modalTitle").text("Datos correctos");
                $("#modalTitle").css("color", "green");
                $("#modalSave").prop("disabled", false);
            }
            else {
                $("#modalTitle").text("Error");
                $("#modalTitle").css("color", "red");
                $("#modalSave").prop("disabled", true);
            }

            $("#modalInfo").modal("show");
        });

        $(".form-control").on("input", function () {
            if ($("#inputCompania").val().trim() === "" || $("#inputContacto").val().trim() === "" || $("#inputCorreo").val().trim() === "" || $("#inputTelefono").val().trim() === "") { 
                 $("#btnSave").prop("disabled", true);
            } else {
                 $("#btnSave").prop("disabled", false);
            }
        });

        $('#modalCancel').on("click", function (e) {
            e.preventDefault();

            $("#modalInfo").modal("hide");
        });
    });
</script>

@{
    ViewData["Title"] = "Create";
}

<h1>Registro</h1>

<h4>Persona</h4>
<hr />

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">compañia</label>
                <input asp-for="compania" id="inputCompania" class="form-control" />
                <span asp-validation-for="compania" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contacto" class="control-label"></label>
                <input asp-for="contacto" id="inputContacto" class="form-control" />
                <span asp-validation-for="contacto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="correo" class="control-label"></label>
                <input asp-for="correo" id="inputCorreo" class="form-control" />
                <span asp-validation-for="correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefono" class="control-label"></label>
                <input asp-for="telefono" id="inputTelefono" class="form-control" />
                <span asp-validation-for="telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" id="btnSave" value="Registrar" class="btn btn-primary" disabled/>
            </div>

            <div class="modal fade" id="modalInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h4 class="modal-title" id="modalTitle"></h4>
                      </div>
                      <div class="modal-body text-center">
                          <div>
                              <label id="labelCompania"></label>
                          </div>
                          <div>
                              <label id="labelContacto"></label>
                          </div>
                          <div>
                              <label id="labelCorreo"></label>
                          </div>
                          <div>
                              <label id="labelTelefono"></label>
                          </div>
                      </div>
                      <div class="modal-footer">
                          <button type="button" id="modalCancel" class="btn btn-secondary" data-dismiss="modal">Cancelar</button> 
                          <input type="submit" id="modalSave" value="Guardar" class="btn btn-primary"/>
                      </div>
                  </div
              </div>
          </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Mostar Registros</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
